* {
    box-sizing: border-box;
    margin: 0;
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 40px;
}

h1 {
    font-size: 50px;
    padding: 40px;
}

p {
    opacity: .7;
}

.boujee-text {
    --bg-size: 400%;
    --color-one: #f2f2f2;
    --color-two: #3e3e3e;
    background: linear-gradient(45deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .boujee-text {
        animation: move-bg 8s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

#canvas {
    margin: 40px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: left;
}

.digit {
    color: #000;
    width: 50px;
    height: 50px;
    display: grid;
    align-content: center;
    text-align: center;
}

.tc {
    background: #34e4;
}

span {
    font-size: large;
    font-weight: 600;
    background: linear-gradient(#34e, #f2f2f2);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.scrollT,
.scrollB {
    position: fixed;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 40px;
    display: grid;
    align-content: center;
    text-align: center;
    background: linear-gradient(#3e3e3e44, #34e4);
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 10px #f2f2f288;
    transition: ease .3s;

    &:hover {
        box-shadow: 0 0 18px #f2f2f288;
    }
}

.scrollT {
    right: 0;
}

.scrollB {
    left: 0;
}

@media (max-width : 700px) {
    h1{
        font-size: larger;
    }
    p {
        font-size: smaller;
    }
    span {
        font-size: medium;
    }
    #canvas {
        width: 300px;
    }

    .digit {
        height: 30px;
        width: 30px;
    }
}